RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|favicon\.ico|dbtest\.php|dctest\.php|assets|connections|_mmServerScripts|robots\.txt|healthcheck\.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
